@*@using SUPPORT_APPROVAL_ONLINE.Models*@
@model SUPPORT_APPROVAL_ONLINE.Models.tbl_Request
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currDate = DateTime.Now.ToString("dd/MM/yyyy");
    var now = DateTime.Now.ToString("dd.MM.yyyy");
    //var requestor = ViewBag.userCreate as tbl_User;
    //var approval = ViewBag.deptMGN as tbl_User;
}


@*<h2>Chi tiết</h2>*@
<div class="form-horizontal">
    <div class="x_panel">
        <div class="x_title">
            <h2>Bộ phận yêu cầu</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="form-group">
                <label class="control-label col-md-1" for="content">@Html.DisplayNameFor(m => m.title)</label>
                <div class="col-md-11">
                    @Html.TextBoxFor(m => m.title, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-1">@Html.DisplayNameFor(m => m.contentDetail)</label>
                <div class="col-md-11">
                    @Html.TextAreaFor(m => m.contentDetail, new { @class = "form-control", @disabled = "disabled" })
                </div>
                <script type="text/javascript">
                    CKEDITOR.replace("contentDetail");
                </script>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1">@Html.DisplayNameFor(m => m.file_upload)</label>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.file_upload, new { @class = "form-control", @disabled = "disabled" })
                </div>
                @*<div class="col-md-1">
                        @using (Html.BeginForm("ViewPDF", "Business", new { name = Model.file_upload }, FormMethod.Post, new { target = "_blank" }))
                        {
                            <a href="javascript:;" onclick="document.forms[0].submit();">View PDF</a>
                        }
                    </div>*@
                <div class="col-md-1">
                    @Html.ActionLink("View PDF", "ViewPDF", "Business", new { name = Model.file_upload }, new { target = "_blank" })
                </div>
                <label class="control-label col-md-2">@Html.DisplayNameFor(m => m.date_Create)</label>
                <div class="col-md-2">
                    <div class="form-control">@Html.DisplayFor(m => m.date_Create)</div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1">@Html.DisplayNameFor(m => m.quantity)</label>
                <div class="col-md-1">
                    @Html.TextBoxFor(m => m.quantity, new { @class = "form-control", @disabled = "disabled" })
                </div>
                <label class="control-label col-md-1">@Html.DisplayNameFor(m => m.dealLine)</label>
                <div class="col-md-2">
                    <div class="form-control">@Html.DisplayFor(m => m.dealLine)</div>
                </div>
                <label class="control-label col-md-1">@Html.DisplayNameFor(m => m.tbl_Customer.customer_Name)</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.tbl_Customer.customer_Name, new { @class = "form-control", @disabled = "disabled" })
                </div>
                <label class="control-label col-md-1">@Html.DisplayNameFor(m => m.model)</label>
                <div class="col-md-1">
                    @Html.TextBoxFor(m => m.model, new { @class = "form-control", @disabled = "disabled" })
                </div>
                <label class="control-label col-md-1">@Html.DisplayNameFor(m => m.pcb)</label>
                <div class="col-md-1">
                    @Html.TextBoxFor(m => m.pcb, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>
        </div>

    </div>

    <div class="x_panel">
        <div class="x_title">
            <h2>Phân loại Jig</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="form-group">
                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.increaseProductivity, new { @class = "flat", @disabled = "disabled" })
                        @Html.LabelFor(model => model.increaseProductivity)
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.newModel, new { @class = "flat", @disabled = "disabled" })
                        @Html.LabelFor(model => model.newModel)
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.increaseProduction, new { @class = "flat", @disabled = "disabled" })
                        @Html.LabelFor(model => model.increaseProduction)
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.improve, new { @class = "flat", @disabled = "disabled" })
                        @Html.LabelFor(model => model.improve)
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.C_5s, new { @class = "flat", @disabled = "disabled" })
                        @Html.LabelFor(model => model.C_5s)
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.checkJig, new { @class = "flat", @disabled = "disabled" })
                        @Html.LabelFor(model => model.checkJig)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="x_panel">
        <div class="x_title">
            <h2>Ước lượng hiệu quả khi áp dụng mới</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="form-group">
                <div class="col-md-3">
                    <label><input type="checkbox" class="js-switch" id="switch1" readonly /> Cắt giảm người</label>
                </div>
                <div class="col-md-3">
                    <label><input type="checkbox" class="js-switch" id="switch2" readonly /> Hiệu quả cải tiến chất lượng</label>
                </div>
                <div class="col-md-3">
                    <label><input type="checkbox" class="js-switch" id="switch3" readonly /> Tiết kiệm chi phí</label>
                </div>
                <div class="col-md-3">
                    <label><input type="checkbox" class="js-switch" id="switch4" readonly /> Other</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.reducePeple, new { @class = "form-control", @disabled = "disabled" })
                </div>
                <div class="col-md-1">
                    <label>Người</label>
                </div>
                @Html.LabelFor(model => model.errorContent, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.errorContent, new { @class = "form-control", @disabled = "disabled" })
                </div>
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.cost_Savings, new { @class = "form-control", @disabled = "disabled" })
                </div>
                <div class="col-md-1">
                    <label>USD</label>
                </div>
                <div class="col-md-3">
                    @Html.TextBoxFor(model => model.other, new { @class = "form-control", @disabled = "disabled", placeholder = "Please enter the text!" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.currentError, htmlAttributes: new { @class = "control-label col-md-1 col-md-offset-3" })
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.currentError, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.afterError, htmlAttributes: new { @class = "control-label col-md-1 col-md-offset-3" })
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.afterError, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2>Chi trả</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">Settings 1</a>
                        </li>
                        <li>
                            <a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.pay, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>
    @if (Model.date_LCA_Leader_Approval != null)
    {
        <div class="x_panel" style="background-color:#5af287">
            <div class="x_title">
                <h2 class="label label-danger">LCA báo giá</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="form-group">
                    @Html.LabelFor(m => m.date_Received, new { @class = "control-label col-md-1" })
                    <div class="col-md-2">
                        <div class="form-control">@Html.DisplayFor(m => m.date_Received)</div>
                    </div>
                    @Html.LabelFor(m => m.date_Finish, new { @class = "control-label col-md-1" })
                    <div class="col-md-2">
                        <div class="form-control">@Html.DisplayFor(m => m.date_Finish)</div>

                    </div>
                    @Html.LabelFor(m => m.cost, new { @class = "control-label col-md-1" })
                    <div class="col-md-2">
                        @Html.EditorFor(m => m.cost, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <label class="control-label col-md-1">File Upload</label>
                    <div class="col-md-1">
                        @Html.EditorFor(m => m.costDetail_upload, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                    <div class="col-md-1">
                        @Html.ActionLink("View PDF", "ViewPDF", "Business", new { name = Model.file_upload }, new { target = "_blank" })
                    </div>
                </div>
            </div>
        </div>
    }
    <hr />
    <table>
        <tr>
            <th>Requestor</th>
            <th>Requestor Approval</th>
            <th>LCA Leader</th>
            <th>LCA Mgr</th>
            <th>Requestor Verification</th>

        </tr>
        <tr>
            <td><input type="text" value="@ViewBag.requestorName" disabled /></td>
            <td><input type="text" value="@ViewBag.deptMGNName" disabled /></td>
            <td><input type="text" value="@ViewBag.lcaLeaderName" disabled /></td>
            <td><input type="text" value="@ViewBag.lcaMNGName" disabled /></td>
            <td><input type="text" value="@ViewBag.deptMGNName" disabled /></td>

        </tr>
        <tr>
            <td><input type="text" value="@ViewBag.requestorPhone" disabled /></td>
            <td><input type="text" value="@ViewBag.deptMNGPhone" disabled /></td>
            <td><input type="text" value="@ViewBag.lcaLeaderPhone" disabled /></td>
            <td><input type="text" value="@ViewBag.lcaMNGPhone" disabled /></td>
            <td><input type="text" value="@ViewBag.deptMNGPhone" disabled /></td>


        </tr>
        <tr>
            <td>
                <div class="rubber_stamp">
                    <p>UMC-VN</p>
                    <p>@Html.DisplayFor(model => model.date_Create)</p>
                    <p>@Model.tbl_User.stamp</p>
                </div>
            </td>
            @if (Model.date_Dept_MNG_Approval != null)
            {
                <td>
                    <div class="rubber_stamp">
                        <p>UMC-VN</p>
                        <p>@Html.DisplayFor(model => model.date_Dept_MNG_Approval)</p>
                        <p>@ViewBag.deptMGNStamp</p>
                    </div>
                </td>

            }
            else
            {
                <td></td>
            }
            @if (Model.date_LCA_Leader_Approval != null)
            {
                <td>
                    <div class="rubber_stamp">
                        <p>UMC-VN</p>
                        <p>@Html.DisplayFor(model => model.date_LCA_Leader_Approval)</p>
                        <p>@ViewBag.lcaLeaderStamp</p>
                    </div>
                </td>
            }
            else
            {
                <td></td>
            }
            @if (Model.date_LCA_MNG_Approval != null)
            {
                <td>
                    <div class="rubber_stamp">
                        <p>UMC-VN</p>
                        <p>@Html.DisplayFor(model => model.date_LCA_MNG_Approval)</p>
                        <p>@ViewBag.lcaMNGStamp</p>
                    </div>
                </td>
            }
            @if (Model.date_Dept_Confirm != null)
            {
                <td>
                    <div class="rubber_stamp">
                        <p>UMC-VN</p>
                        <p>@Html.DisplayFor(model => model.date_Dept_Confirm)</p>
                        <p>@ViewBag.deptMGNStamp</p>
                    </div>
                </td>
            }
            else
            {
                <td></td>
            }

        </tr>
    </table>
    <hr />
    <table>
        <thead>
            <tr>
                <th>FM</th>
                <th>GD</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" value="@ViewBag.fmName" readonly /></td>
                <td><input type="text" value="@ViewBag.gdName" readonly /></td>
            </tr>
            <tr>
                <td><input type="text" value="@ViewBag.fmPhone" readonly /></td>
                <td><input type="text" value="@ViewBag.gdPhone" readonly /></td>
            </tr>
            <tr>
                @if (Model.date_FM_Approval != null)
            {
                    <td>
                        <div class="rubber_stamp">
                            <p>UMC-VN</p>
                            <p>@Html.DisplayFor(model => model.date_FM_Approval)</p>
                            <p>@ViewBag.fmStamp</p>
                        </div>
                    </td>
                }
                else
                {
                    <td></td>
                }
                @if (Model.date_GD_Approval != null)
            {
                    <td>
                        <div class="rubber_stamp">
                            <p>UMC-VN</p>
                            <p>@Html.DisplayFor(model => model.date_GD_Approval)</p>
                            <p>@ViewBag.gdStamp</p>
                        </div>
                    </td>
                }
                else
                {
                    <td></td>
                }
            </tr>
        </tbody>
    </table>

</div>
@if (ViewBag.approved)
{
    <div class="approved">Approved</div>

}
<hr />
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
<script>
    $(document).ready(function () {
        var reducePeple = $("#reducePeple").val();
        var errorContent = $("#errorContent").val();
        var currentError = $("#currentError").val();
        var afterError = $("#afterError").val();
        var cost_Savings = $("#cost_Savings").val();
        var other = $("#other").val();
        if (reducePeple) {
            $('#switch1').attr('checked', true);
        }
        if (errorContent || currentError || afterError) {
            $('#switch2').attr('checked', true);
        }
        if (cost_Savings) {
            $('#switch3').attr('checked', true);
        }
        if (other) {
            $('#switch4').attr('checked', true);
        }
    })
</script>