@model SUPPORT_APPROVAL_ONLINE.Models.tbl_User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tbl_Group.group_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Group.group_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Permission.allow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Permission.allow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_username)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.U_fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.U_create_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.U_create_at)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.U_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
