@model SUPPORT_APPROVAL_ONLINE.Models.tbl_User

@{
    ViewBag.Title = "EditPass";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Mật khẩu của bạn đã cũ. Vui lòng đổi mật khẩu mới!</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.createAt)
        @Html.HiddenFor(model => model.email)
        @Html.HiddenFor(model => model.fullname)
        @Html.HiddenFor(model => model.group_Id)
        @Html.HiddenFor(model => model.permission_Id)
        @Html.HiddenFor(model => model.phone)
        @Html.HiddenFor(model => model.username)
        @Html.HiddenFor(model => model.stamp)
        @*<div class="form-group">
                @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @*@Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">Mật khẩu mới</label>
            <div class="col-md-10">
                @Html.PasswordFor(model => model.password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                <label class="control-label col-md-2" >Mật khẩu mới</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                </div>
            </div>*@


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Home", "Index","Home")
</div>
